<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Upload</h2>
<div th:unless="${#lists.isEmpty{records}}"></div>
    <dl th:each="rec:${records}">
        <dt>
            <span> title</span>
            <span> name</span>
        </dt>
        <dd>
            <span th:text="${rec.titile}">Title </span>
            <span th:text="${rec.name}">Name </span>
        </dd>
    </dl>

<a href="upload.html">
<label>try upload a excel</label>
</a>

</form>

</body>
</html>